#!/usr/bin/env xdg-open
[Desktop Entry]
Version=2.0
Type=Application
Name=8tracks
Exec=mellowplayer --service=8tracks --standalone
TryExec=mellowplayer
Icon=mellowplayer-8tracks
Terminal=false
Categories=AudioVideo;Network;
StartupNotify=true
StartupWMClass=8tracks
GenericName=8tracks web app
GenericName[fr]=Application web 8tracks
Comment=8tracks web app
Comment[fr]=Application web 8tracks
Actions=PlayPause;Next;Previous;Restore

[Desktop Action PlayPause]
Exec=mellowplayer --service=8tracks --standalone --playpause
Name=Play/Pause
Icon=media-playback-start

[Desktop Action Next]
Exec=mellowplayer --service=8tracks --standalone --next
Name=Next song
Icon=media-seek-forward
Name[fr]=Piste suivante

[Desktop Action Previous]
Exec=mellowplayer --service=8tracks --standalone --previous
Name=Previous song
Icon=media-seek-backward
Name[fr]=Piste précédente

[Desktop Action Restore]
Exec=mellowplayer --service=8tracks --standalone
Name=Restore window
Name[fr]=Restaurer la fenêtre
Icon=view-restore
