#!/usr/bin/env xdg-open
[Desktop Entry]
Version=2.0
Type=Application
Name=Google Play Music
Exec=mellowplayer --service=googleplaymusic --standalone
TryExec=mellowplayer
Icon=mellowplayer-googleplaymusic
Terminal=false
Categories=AudioVideo;Network;
StartupNotify=true
StartupWMClass=Googleplaymusic
GenericName=Google Play Music web app
GenericName[fr]=Application web Google Play Music
Comment=Google Play Music web app
Comment[fr]=Application web Google Play Music
Actions=PlayPause;Next;Previous;Restore

[Desktop Action PlayPause]
Exec=mellowplayer --service=googleplaymusic --standalone --playpause
Name=Play/Pause
Icon=media-playback-start

[Desktop Action Next]
Exec=mellowplayer --service=googleplaymusic --standalone --next
Name=Next song
Icon=media-seek-forward
Name[fr]=Piste suivante

[Desktop Action Previous]
Exec=mellowplayer --service=googleplaymusic --standalone --previous
Name=Previous song
Icon=media-seek-backward
Name[fr]=Piste précédente

[Desktop Action Restore]
Exec=mellowplayer --service=googleplaymusic --standalone
Name=Restore window
Name[fr]=Restaurer la fenêtre
Icon=view-restore
