#!/usr/bin/env xdg-open
[Desktop Entry]
Version=2.0
Type=Application
Name=Ledjam Radio
Exec=mellowplayer --service=ledjam_radio --standalone
TryExec=mellowplayer
Icon=mellowplayer-ledjam
Terminal=false
Categories=AudioVideo;Network;
StartupNotify=true
StartupWMClass=Ledjam radio
GenericName=Ledjam radio web app
GenericName[fr]=Application web Ledjam radio
Comment=Ledjam radio web app
Comment[fr]=Application web Ledjam radio
Actions=PlayPause;Next;Previous;Restore

[Desktop Action PlayPause]
Exec=mellowplayer --service=ledjam_radio --standalone --playpause
Name=Play/Pause
Icon=media-playback-start

[Desktop Action Next]
Exec=mellowplayer --service=ledjam_radio --standalone --next
Name=Next song
Icon=media-seek-forward
Name[fr]=Piste suivante

[Desktop Action Previous]
Exec=mellowplayer --service=ledjam_radio --standalone --previous
Name=Previous song
Icon=media-seek-backward
Name[fr]=Piste précédente

[Desktop Action Restore]
Exec=mellowplayer --service=ledjam_radio --standalone
Name=Restore window
Name[fr]=Restaurer la fenêtre
Icon=view-restore
