Source: mellowplayer-kde
Section: sound
Priority: optional
Maintainer: Colin Duquesnoy <colin.duquesnoy@gmail.com>
Build-Depends: debhelper (>= 9), qtbase5-dev, qtbase5-dev-tools, qt5-qmake, qtbase5-private-dev, libqt5webkit5-dev, libkf5notifications-dev, libkf5globalaccel-dev
Standards-Version: 3.9.5
Homepage: http://colinduquesnoy.github.io/MellowPlayer/

Package: mellowplayer-kde
Architecture: any
Depends: libqt5webkit5, libnotify-bin, libkf5globalaccel5, libkf5notifications5, ${misc:Depends}, ${shlibs:Depends}
Conflicts: mellowplayer, mellowplayer-unity
Description: Cloud music integration for your KDE Sc/Plasma 5 desktop!
 MellowPlayer is a free, open source and cross-platform desktop application
 that runs web-based music streaming services in its own window and provides 
 integration with your desktop (hotkeys, multimedia keys, system tray,
 and more).
 Supported services:
   - Grooveshark (retro and mobile)
   - Soundcloud
   - Mixcloud
   - Deezer
 This flavour of MellowPlayer has been tweaked for the KDE desktop (KDE Sc or
 Plasma5).
    
