#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

export QT_SELECT=qt5

override_dh_auto_configure:
	qmake CONFIG-=debug CONFIG+=release CONFIG+=ubuntu_support

%:
	dh $@
	
