[Desktop Entry]
Version=1.0
Type=Application
Name=Mellow Player
GenericName=Cloud music player
GenericName[fr]=Lecteur de service de musique en ligne
Comment=Cloud music player
Comment[fr]=Lecteur de service de musique en ligne
Exec=MellowPlayer
TryExec=MellowPlayer
Icon=mellowplayer
Terminal=false
Categories=AudioVideo;Player;Qt;Audio;
StartupNotify=false


