[Desktop Entry]
Version=1.0
Type=Application
Name=MellowPlayer
GenericName=MellowPlayer
Comment=Music streaming service integration for your desktop!
Exec=MellowPlayer
TryExec=MellowPlayer
Icon=mellowplayer
Terminal=false
Categories=AudioVideo;Player;Qt;Audio;
StartupNotify=false
